{% extends "base.html" %}
{% block title %}{{ artist.name }}{% endblock title %}
{% block content %}
    <h5 class="py-4 text-center"> <strong>{{ artist.name | capfirst }}</strong></h5>
    
    <div class="container-fluid" style="max-width: 1000px;">
        <div class="row g-0">
            
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="{{ artist.profile_picture.url }}" class="img-fluid" alt="Imagen de {{ artist.name }}">
            </div>
            
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="text-center">Datos:</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Nombre: {{ artist.name }}</li>
                        <li class="list-group-item">Apellido: {{ artist.last_name }}</li>
                        <li class="list-group-item">País: {{ artist.country }}</li>
                        
                    </ul>
                </div>
            </div>
                        
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="text-center">Albumes:</h5>
                    {% if artist.album_set.all %}
                        <ol class="list-group">
                            {% for album in artist.album_set.all %}
                                <li class="list-group-item text-center">
                                    {{ artist.name }} 
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p class="text-center">No tiene albums.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        
        
    </div>
    <br>
    <br>
{% endblock content %}
