{% extends "base.html" %}
{% block title %}Baul Musical{% endblock title %}
{% block content %}
    <h5 class="py-4 text-center">Bienvenido a Tu repositorio de música</h5>
    <br>
    <h5 class="text-center" aling>Artistas:</h5>
    <br>
    <div class="card-group">
        {% for artist in artists %}
            <div class="card bg-light">
                <img class="img-fluid" src="{{ artist.profile_picture.url }}" alt="{{ artist.name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ artist.name }} {{ artist.last_name }}</h4>
                    <p class="card-text">
                        Ciudad: {{ artist.country }} <br>
                        Género: {{ artist.genre }}
                    </p>
                    <a href="artist/{{ artist.id }}" class="btn btn-secondary">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    {% if user.is_authenticated %}
                        <a href="edit_artist/{{ artist.id }}" class="btn btn-warning">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a href="delete_artist/{{ artist.id }}" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <h5 class="text-center" aling>Álbumes:</h5>
    <br>
    <div class="card-group">
        {% for album in albums %}
        <div class="card bg-light">
            <img src="{{ album.front_page.url }}" class="img-fluid" alt="{{ album.title }}">
            <div class="card-body">
                <h4 class="card-title">{{ album.title }}</h4>
                <p class="card-text">
                    Título: {{ album.title }} <br>
                    Año de lanzamiento: {{ album.release_year }}
                </p>
                <a href="album/{{ album.id }}" class="btn btn-secondary">
                    <i class="fa-solid fa-eye"></i>
                </a>
                {% if user.is_authenticated %}
                    <a href="edit_album/{{ album.id }}" class="btn btn-warning">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a href="delete_album/{{ album.id }}" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
<br>
<br>
